<h1>func</h1>
<% var fusu = 0; %>
<% var hansu = 0; %>

<!-- 配列数１の時str型になる対応が必要 -->
<!--    上記の場合[1]が一文字になる    -->
<!--              １翻加算             -->
<% if (data['1han']) { %>
<% var hanNum = data['1han'].length; %>
<% if (data['1han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + hanNum; %>
<% } %>

<!--              ２翻加算             -->
<% if (data['2han']) { %>
<% hanNum = data['2han'].length; %>
<% if (data['2han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 2); %>
<% } %>

<!--              ３翻加算             -->
<% if (data['3han']) { %>
<% hanNum = data['3han'].length; %>
<% if (data['3han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 3); %>
<% } %>

<!--              ４翻加算             -->
<% if (data['4han']) { %>
<% hanNum = data['4han'].length; %>
<% if (data['4han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 4); %>
<% } %>

<!--              ６翻加算             -->
<% if (data['6han']) { %>
<% hanNum = data['6han'].length; %>
<% if (data['6han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 6); %>
<% } %>

<!-- 雀頭符数判定  -->
<!-- 上り符数判定  -->
<!-- 待ち符数判定  -->
<!-- 面子(中張牌)符数判定  -->
<!-- 面子(幺九牌)符数判定  -->

<% console.log(data) %>
<% console.log(hansu) %>

