<h1>計算結果</h1>
<% var fusu = 20; %>
<% var hansu = 0; %>
<% var temp = 0; %>
<% var total = 0; %>

<!-- 配列数１の時str型になる対応が必要 -->
<!--    上記の場合[1]が一文字になる    -->
<!--              １翻加算             -->
<% if (data['1han']) { %>
<% var hanNum = data['1han'].length; %>
<% if (data['1han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + hanNum; %>
<% } %>

<!--              ２翻加算             -->
<% if (data['2han']) { %>
<% hanNum = data['2han'].length; %>
<% if (data['2han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 2); %>
<% } %>

<!--              ３翻加算             -->
<% if (data['3han']) { %>
<% hanNum = data['3han'].length; %>
<% if (data['3han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 3); %>
<% } %>

<!--              ４翻加算             -->
<% if (data['4han']) { %>
<% hanNum = data['4han'].length; %>
<% if (data['4han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 4); %>
<% } %>

<!--              ６翻加算             -->
<% if (data['6han']) { %>
<% hanNum = data['6han'].length; %>
<% if (data['6han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 6); %>
<% } %>

<!-- 上り符数判定  -->
<% if (data.agari === 'lon') { %>
<% fusu = fusu + 10 %>
<% } else if (data.agari === 'tsumo') { %>
<% fusu = fusu + 2 %>
<% } %>

<!-- 面子(中張牌)符数判定  -->
<% if (data.chMinko != 0) { %>
<% fusu = fusu + (data.chMinko * 2) %>
<% } %>
<% if (data.chAnko != 0) { %>
<% fusu = fusu + (data.chAnko * 4) %>
<% } %>
<% if (data.chMinkan != 0) { %>
<% fusu = fusu + (data.chMinkan * 8) %>
<% } %>
<% if (data.chAnkan != 0) { %>
<% fusu = fusu + (data.chAnkan * 16) %>
<% } %>

<!-- 面子(幺九牌)符数判定  -->
<% if (data.yoMinko != 0) { %>
<% fusu = fusu + (data.yoMinko * 4) %>
<% } %>
<% if (data.yoAnko != 0) { %>
<% fusu = fusu + (data.yoAnko * 8) %>
<% } %>
<% if (data.yoMinkan != 0) { %>
<% fusu = fusu + (data.yoMinkan * 16) %>
<% } %>
<% if (data.yoAnkan != 0) { %>
<% fusu = fusu + (data.yoAnkan * 32) %>
<% } %>

<!-- 雀頭符数判定  -->
<% if (data.janto === 'jibasanngen') { %>
<% fusu = fusu + 2 %>
<% } %>
<% if (data.janto === 'renpu') { %>
<% fusu = fusu + 2 %>
<% } %>

<!-- 待ち符数判定  -->
<% if (data.machi === 'penkantanno') { %>
<% fusu = fusu + 2 %>
<% } %>

<!-- 計算 -->
<!-- 符丸め-->

<% console.log(data) %>
<% console.log(hansu) %>
<% console.log(fusu) %>

