<h1>func</h1>
<% var fusu = 0; %>
<% var hansu = 0; %>

<!-- 配列数１の時str型になる対応が必要 -->
<!--              １翻加算             -->
<% if (data['1han']) { %>
<% var hanNum = data['1han'].length; %>
<% if (data['1han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + hanNum; %>
<% } %>

<!--              ２翻加算             -->
<% if (data['2han']) { %>
<% hanNum = data['2han'].length; %>
<% if (data['2han'][1].length == 1) { %>
<% hanNum = 1; %>
<% } %>
<% hansu = hansu + (hanNum * 2); %>
<% } %>

<% console.log(data) %>
<% console.log(hansu) %>

